.nav-boton {
    text-align: center;
    padding: 30px 100px 0 0;
    display: inline;
    font-family:'Montserrat Alternates', sans-serif;
    font-size: 16px;
    border:none;
    background: orange;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    
}
.nav-boton:hover {
        
    text-decoration:none;
    text-decoration-color: #96989A;
    color: #96989A;
}